

doctype html
html
    head
        link(rel="stylesheet", href="http://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css")
        link(rel="stylesheet", href="css/bootstrap.min.css")
        title Lists
    body
        
            header.card-header
            h4.card-tittle Payments made for appointments
                form(method="POST" action ="/adminsdashboard")
                  
                    div.form-row
                        div.col-12.form-group  
                            a.btn.btn-primary(href="/adminsdashboard" type='submit' style="width:100%") Next  
                table.table
                    thead.thead-dark
                        tr 
                            th parents name
                            th amount
                            th duration booked
                            th balance
                            th phone
                            
                    tbody   
                        //- each user in users
                        //-     tr
                        //-         td #{user.parents name}
                        //-         td #{user.amount}
                        //-         td #{user.duration booked}
                        //-         td #{user.balance}
                        //-         td #{user.phone}
                                





